* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #FFFCE5;
}

.logo a {
    font-family: cursive;
    font-size: 25px;
}

/*This is where the css starts for the Top Nav & Footer on each page.*/

.pph {
    margin: auto;
    text-align: center;
    position: fixed;
    background-color: #4C19FF;
    width: 100%;
    height: 40px;
    top: 0px;
}

.pph p {
    font-size: 12px;
    letter-spacing: .05em;
    color: #FFFCE5;
}

.nav {
    margin: auto;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 75px;
    top: 20px;
    background-color: #B2A100;
}

.nav ul li {
    display: inline-block;
    margin: 25px;
    font-size: 14px;
    letter-spacing: .05em;
}

.nav a {
    text-decoration: none;
    color: black;
    transition: .25s all;
}

.nav li a:hover, .nav li a:active {
    border-radius: 5px;
    color:#BFBFBF;
}

.logo a:hover {
    color: black !important;
}

.footer {
    background-color: #4C19FF;
    width: 960px;
    height: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

.footer ul {
    margin: auto;
}

.footer p {
    display: inline-block;
    padding-top: 15px;
    font-size: 11px;
    padding-left: 30px;
    text-align: center;
    margin: auto;
    letter-spacing: .05em;
    color: #FFFCE5;
}

/*This is where the css ends for the Top Nav & Footer on each page.*/

/*This is where the css starts for the Home page by Kristian!*/

.header-featured {
    background-image: url(../images/header-personal-project.jpg);
    background-size: cover;
    height: 200px;
    text-align: center;
    width: 960px;
    margin: auto;
    margin-top: 85px;
    z-index: 2;
}

.header-featured h1 {
    padding-top: 50px;
    color: #F2F2F2;
}

.featured-container {
    width: 660px;
    margin: auto;
    text-decoration: none;
}

.featured-container section div {
    display: inline-block;
    text-decoration: none;
}

.featured-container section div p {
    font-size: 12px;
    text-align: center;
    padding-top: -2px;
    text-decoration: none;
}

.featured-container section div a {
    text-decoration: none;
    color: black;
}

.featured-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

/*This is where the css ends for the Home page by Kristian!*/

/*This is where the css starts for the One page by Kristian!*/

.one-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.one-container section div {
    display: inline-block;
}

.one-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.one-container .copy {
    display: inline-block;
    width: 300px;
    float: right;
    padding: 10px;
    text-align: center;
}

/*This is where the css ends for the One page by Kristian!*/

/*This is where the css starts for the Two page by Kristian!*/

.two-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.two-container section div {
    display: inline-block;
}

.two-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.two-container .copy {
    display: inline-block;
    width: 355px;
    float: right;
    padding: 5px;
    text-align: center;
}

/*This is where the css ends for the Two page by Kristian!*/

/*This is where the css starts for the Three page by Kristian!*/

.three-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.three-container section div {
    display: inline-block;
}

.three-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.three-container .copy {
    display: inline-block;
    width: 360px;
    float: right;
    padding: 5px;
    text-align: center;
}

/*This is where the css ends for the Three page by Kristian!*/

/*This is where the css starts for the Four page by Kristian!*/

.four-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.four-container section div {
    display: inline-block;
}

.four-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.four-container .copy {
    display: inline-block;
    width: 380px;
    float: right;
    padding: 5px;
    text-align: center;
}

/*This is where the css ends for the Four page by Kristian!*/

/*This is where the css starts for the Five page by Kristian!*/

.five-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.five-container section div {
    display: inline-block;
}

.five-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.five-container .copy {
    display: inline-block;
    width: 400px;
    float: right;
    padding: 5px;
    text-align: center;
}

/*This is where the css ends for the Five page by Kristian!*/

/*This is where the css starts for the Six page by Kristian!*/

.six-container {
    width: 660px;
    margin: auto;
    padding: 40px;
}

.six-container section div {
    display: inline-block;
}

.six-container section img {
    width: 200px;
    height: 250px;
    margin: 5px 5px 0px 5px;
}

.six-container .copy {
    display: inline-block;
    width: 430px;
    float: right;
    padding: 5px;
    text-align: center;
}

/*This is where the css ends for the Six page by Kristian!*/

/* This is our color scheme:

    1) off-white: #FFFCE5
    2) pea green: #B2A100
    3) blue 1: #3800FF
    4) blue 2: #4C19FF
    5) blue 3: #2700B2
    
*/
